#name1 {
  background-color: rgb(165, 248, 206);
  width: 500px;
  height: 200px;
}
#name2 {
  background-color: rgb(248, 202, 165);
  width: 500px;
  height: 200px;
}
#result {
  background-color: rgb(197, 165, 248);
}
#playerId {
  margin: 10px auto;
}
.choices1,
.choices2 {
  visibility: hidden;
}
